$accent: #eb5348
$text: #f0f0f0
$text-menu: #ffffff
$main-bcg: #1e1e22
$menu-bcg: #3a3a9c
$code-btn: #2196f3
$code-box: #361f77
$code-box-text: #d5cdeb

$grid-gutter-width: 20px
$gutter: $grid-gutter-width