$accent: #eb5348
$text: #f0f0f0
$text-menu: $text
$main-bcg: #1e1e22
$menu-bcg: #1a997a
$code-btn: #f39f21
$code-box: #f1cf35
$code-box-text: #000000
$input-border: #a9e9d9
$input-fill: #1a997a
$input-text: #ffffff
$input-submit-border: $accent
$input-submit-text: $input-text
$input-submit-fill: $accent
$placeholder: #33333377