@import vars
@import fonts

.home
	.header
		top: 50%
		.name
			font-size: 28px
		.welcome
			border-bottom: 4px solid #333
		small
			font-size: 20px
		.arrow
			margin: 10px
			padding: 10px 0
			font-size: 22px
			background-color: $menu-bcg
			cursor: pointer