@import vars

::-webkit-scrollbar
	width: 10px

::-webkit-scrollbar-track
	background-color: darken($main-bcg, 15%)

::-webkit-scrollbar-thumb
	background-color: $accent
	border-radius: 5px

::placeholder
	color: $placeholder

::selection
	background-color: $accent
	color: $text

body
	margin: 0
	padding: 0
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $text
	background-color: $main-bcg

a
	text-decoration: none
	&:hover
		text-decoration: none

.content
	position: relative
	height: 100vh
	text-align: center
	transition: .5s
	.header
		position: absolute
		left: 50%
		transform: translate(-50%, -50%)
		font-family: 'Propaganda-l'
		font-size: 32px
	.form
		font-family: ProximaNova-l
		fieldset
			font-size: 20px
			box-sizing: border-box
			border: 2px solid $input-border
			margin-bottom: 10px
			.submit
				font-size: 18px
				text-transform: uppercase
				padding: 5px 15px
				border: 1px solid $input-submit-border
				border-radius: 4px
				color: $input-submit-text
				background-color: $input-submit-fill
		&-list
			font-size: 16px
			position: relative
			left: 50%
			transform: translateX(-50%)
			max-width: 460px
		&-item
			text-align: right
			margin: 
				right: 50px
				bottom: 10px
			.add-tag
				margin-right: 10px
			label
				margin-right: 10px
			%input-and-select
				font-family: ProximaNova-l
				box-sizing: border-box
				width: 290px
				height: 30px
				padding-left: 10px
				border: 1px solid $input-border
				color: $input-text
				background-color: $input-fill
			input
				@extend %input-and-select
			select
				@extend %input-and-select
			textarea
				@extend %input-and-select
			&-checkbox
				input
					width: 13px
					height: 13px
				margin-bottom: 10px
				transform: translateX(-60px)
			&-radio
				input
					width: 13px
					height: 13px
					background-color: transparent
			&-textarea
				textarea
					transform: translateY(10px)
		.card-data
			input
				width: 150px

.hide
	display: none