@import vars
@import fonts

.registration
	max-width: 760px
	margin: 0 auto
	.header
		position: static
		transform: translate(0, 0)
		margin: 100px 0px 10px
		border-bottom: 4px solid #333
		span
			background-color: $accent
	.form
    margin-top: 100px
    margin-bottom: 100px
    // position: absolute
    // width: 500px
    // top: 45%
    // left: 50%
    // transform: translate(-50%, -50%)

	.code
		&-btn
			position: static
			transform: translate(0px, 0px)