@import vars
@import fonts

.smart-menu
	.header
		position: absolute
		top: 20%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: 32px
		font-family: 'Propaganda-l'

	&-list
		position: absolute
		top: 40%
		left: 50%
		transform: translate(-50%, -50%)
		// max-width: 1000px

	.code
		&-btn
			bottom: 30%