@import vars
@import fonts

.smart-menu
	.header
		position: absolute
		top: 10%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: 32px
		font-family: 'Propaganda-l'

	.code
		&-btn
			bottom: 10%